.post {
  -webkit-box-shadow: 2px -1px 20px -1px rgba(255, 255, 255, 1);
  -moz-box-shadow: 2px -1px 20px -1px rgba(255, 255, 255, 1);
  box-shadow: 2px -1px 10px -1px rgba(255, 255, 255, 1);
  border-radius: 20px;
  color: white;
  background-color: rgb(7, 20, 44);

  .container {
    padding: 20px;

    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .userDetails {
        display: flex;
        gap: 20px;

        img {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .details {
          display: flex;
          flex-direction: column;

          .name {
            cursor: pointer;
            font-weight: 500;
            font-size: 18px;

            &:hover {
              color: rgba(255, 153, 153, 0.851);
              text-shadow: 0 0 10px #ff0040, 0 0 20px #ff0040, 0 0 30px #ff0040;
            }
          }

          .date {
            font-size: 12px;
          }
        }
      }
    }

    .content {
      margin: 20px 0px;

      img {
        border: solid 1px white;
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        margin-top: 20px;
      }
    }

    .interactions {
      display: flex;
      gap: 20px;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-size: 14px;
      }
    }
  }
}
