.rightBar {
  padding-left: 20px;
  color: white;
  background-color: rgb(71, 82, 102);
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 20px;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    gap: 50px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .newsWrapper {
      background-color: rgb(7, 20, 44);
      margin-top: 20px;
      padding: 10px 10px;
      display: flex;
      border-radius: 30px;
      flex-direction: column;
      gap: 30px;
      height: fit-content;
      border: solid 2px grey;

      -webkit-box-shadow: 2px -1px 30px -1px rgba(0, 0, 0, 0.53);
      -moz-box-shadow: 2px -1px 30px -1px rgba(0, 0, 0, 0.53);
      box-shadow: 2px -1px 30px -1px rgba(0, 0, 0, 0.53);

      .blockTitle {
        cursor: default;
        color: rgba(255, 153, 153, 0.851);
        text-shadow: 0 0 10px #ff0040, 0 0 20px #ff0040, 0 0 30px #ff0040;
      }

      .tweetHolder {
        max-height: 180px;
        overflow: hidden;
      }
    }

    .onlineFriends {
      background-color: rgb(7, 20, 44);
      padding: 10px;
      padding-right: 280px;
      border-radius: 30px;
      border: solid 2px grey;
      max-height: fit-content;
      min-width: max-content;
      display: flex;
      flex-direction: column;
      align-self: start;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0px;
      gap: 10px;

      -webkit-box-shadow: 2px -1px 30px -1px rgba(0, 0, 0, 0.53);
      -moz-box-shadow: 2px -1px 30px -1px rgba(0, 0, 0, 0.53);
      box-shadow: 2px -1px 30px -1px rgba(0, 0, 0, 0.53);

      .blockTitle {
        display: flex;
        width: fit-content;
        cursor: default;
        color: rgba(255, 153, 153, 0.851);
        text-shadow: 0 0 10px #ff0040, 0 0 20px #ff0040, 0 0 30px #ff0040;
        align-self: start;
        margin-bottom: 20px;
      }

      .friendInfo {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-size: 18px;

          &:hover {
            cursor: pointer;
            color: rgb(3, 221, 86);
            text-shadow: 0 0 10px #ffffff, 0 0 20px #d4ff85, 0 0 30px #b49a05;
          }
        }
      }
    }

    .friendReqs {
      background-color: rgb(7, 20, 44);
      width: 380px;
      padding: 15px 15px;
      border: solid 2px grey;
      border-radius: 30px;
      max-height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 10px;

      -webkit-box-shadow: 2px -1px 30px -1px rgba(0, 0, 0, 0.53);
      -moz-box-shadow: 2px -1px 30px -1px rgba(0, 0, 0, 0.53);
      box-shadow: 2px -1px 30px -1px rgba(0, 0, 0, 0.53);

      .blockTitle {
        cursor: default;
        color: rgba(255, 153, 153, 0.851);
        text-shadow: 0 0 10px #ff0040, 0 0 20px #ff0040, 0 0 30px #ff0040;
        align-self: start;
        margin-bottom: 20px;
      }

      .reqCard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .friendInfo {
          min-width: fit-content;
          max-width: calc(70%);
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;

          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-size: 18px;

            &:hover {
              cursor: pointer;
            }
          }
        }

        button {
          display: flex;
          width: fit-content;
          padding: 4px 4px;
          border-radius: 8px;
          border: none;
          transition: color ease-in 0.5s;
          cursor: pointer;
          color: white;
          background-color: rgb(27, 75, 233);

          &:hover {
            background-color: white;
            color: blue;
            text-shadow: 0 0 10px #9900ff, 0 0 20px #0d1ceb,
              0 0 30px #0077ff;
          }
        }
      }
    }
  }
}